body {
    background-image: url(./pokeball-fuego.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
text-align: center;
color: aquamarine;
}
div {
    width: 300px;
    border: 9px solid transparent;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.533);
    border-radius: 20%; 
    color: black
 
}

p {
    display: inline-block;  

}

.fuego {
    background-color: rgba(220, 20, 60, 0.679);
    border-radius: 25px;
}

@font-face {
    font-family: "Pixelify Sans";
    src: url(../../../google-font/PixelifySans-VariableFont_wght.ttf);
}